.products_div {
  display: flex;
  width: 100%;
  height: 50px;
  background: yellow;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px dashed lightgray;
  align-items: center;
}

.products_data {
  width: 100%;
}

.prod_btn_div {
  width: 10%;
  display: flex;
}

.prod_btn {
  width: 20px;
  display: flex;
  justify-content: center;
}

.prod_item {
  padding: 5px;
}
